h1 {
    font-family: Comic Sans MS;
    text-align: center;
    color: yellow;
    background-color: black;
}
p{
    font-family: Helvetica,Times New Roman, Times, serif;
    text-align: justify;
    font-size: 20px;
    color: red;
}
img {
    height: 250px;
    width: 400px;
}
ul{
    font-family:Comic Sans MS;
}
ol{
    font-family:Comic Sans MS;
}